@page
@using Microsoft.AspNetCore.Identity
@using kampong_goods.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model kampong_goods.Pages.Education.AddFAQModel
@{
    ViewData["Title"] = "Add FAQ";
    Guid myuuid = Guid.NewGuid();
    var FAQID = myuuid.ToString();

    var currentDate = DateTime.Now;
}


<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.Question"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="myFAQ.Question" oninput="this.value" />
            <span asp-validation-for="myFAQ.Question" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.Answer"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="myFAQ.Answer"
                   oninput="this.value" />
            <span asp-validation-for="myFAQ.Answer" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.FAQCatId"></label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.myFAQ.FAQCatId, new SelectList(AddFAQModel.FAQCatlist, "FAQCatId", "FAQCategoryName"), "-- Select --", new {@class = "form-select"})
                <span asp-validation-for="myFAQ.FAQCatId" class="text-danger"></span>
            </div>
        </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.URL"></label>
        <div class="col-sm-10">
            <input class="form-control" type="url" asp-for="myFAQ.URL" />
            <span asp-validation-for="myFAQ.URL" class="text-danger"></span>
        </div>
    </div>

    <input class="form-control" type="" asp-for="myFAQ.FAQCatId" value="null" oninput="this.value"/>
    <input class="form-control" type="" asp-for="myFAQ.FAQId" value="@FAQID" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Creator" value="@UserManager.GetUserName(User)" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Editor" value="@UserManager.GetUserName(User)" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Date_Created" value="@currentDate" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Date_Modified" value="@currentDate" oninput="this.value" />
@*    <input class="form-control" type="" asp-for="myFAQ.StaffID" value="111" oninput="this.value" />*@

    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-primary" />
        <a class="btn btn-secondary ms-2" href="/Education">Cancel</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





    <head>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.css' rel='stylesheet'>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/htmlmixed/htmlmixed.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/javascript/javascript.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/xml/xml.js'></script>
    </head>

    <body>
        <div style="background-color: #FFF; max-width: 800px; margin: auto; padding: 20px;">
            <a href="https://www.tiny.cloud/"><img width="120" src="https://www.tiny.cloud/docs/images/logos/android-chrome-256x256.png" align="right"></a>
            <textarea id="mytextarea"></textarea>
            </div>
