@page
@using Microsoft.AspNetCore.Identity
@using kampong_goods.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model kampong_goods.Pages.Education.AddFAQModel
@{
    ViewData["Title"] = "Add FAQ";
    Guid myuuid = Guid.NewGuid();
    var FAQID = myuuid.ToString();

    var currentDate = DateTime.Now;
}


<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.Question"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="myFAQ.Question" oninput="this.value" />
            <span asp-validation-for="myFAQ.Question" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.Answer"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="myFAQ.Answer"
                   oninput="this.value" />
            <span asp-validation-for="myFAQ.Answer" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.Category"></label>
        <div class="col-sm-10">
            <select name="Categories" id="categories" class="form-control" asp-for="myFAQ.Category" oninput="this.value">
                @{ 
                    foreach (var item in Model.FAQCatlist)
                    {
                        <option value="@item.CategoryName">@item.CategoryName</option>
                    }
                    
                }
            </select>
            <span asp-validation-for="myFAQ.Category" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQ.URL"></label>
        <div class="col-sm-10">
            <input class="form-control" type="url" asp-for="myFAQ.URL" />
            <span asp-validation-for="myFAQ.URL" class="text-danger"></span>
        </div>
    </div>

    <input class="form-control" type="" asp-for="myFAQ.FAQId" value="@FAQID" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Creator" value="@UserManager.GetUserName(User)" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Editor" value="@UserManager.GetUserName(User)" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Date_Created" value="@currentDate" oninput="this.value" />
    <input class="form-control" type="" asp-for="myFAQ.Date_Modified" value="@currentDate" oninput="this.value" />
@*    <input class="form-control" type="" asp-for="myFAQ.StaffID" value="111" oninput="this.value" />*@

    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-primary" />
        <a class="btn btn-secondary ms-2" href="/Education">Cancel</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
