@page
@model kampong_goods.Pages.Education.AnswerModel
@{
}

<h1 class="display-4">Answer @Html.DisplayNameFor(model => model.myFAQ.FAQId)</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Question)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Question</i>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Answer)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Answer</i>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Creator)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Creator</i>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Date_Created)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Date_Created</i>
        </div>
    </div>

    <div>
        <a class="btn btn-secondary ms-2" href="/Education/Index">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }