@page
@model kampong_goods.Pages.Education.FAQDetailModel
@{
    var thumbState = "fa-regular fa-thumbs-up";
}

<h1 class="display-4">Details: </h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Question)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Question</i>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Answer)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Answer</i>
            <a class="btn" asp-page="/Education/FAQDetail" asp-page-handler="ClickTimeCount" asp-route-id="@Model.myFAQ.FAQId"></a>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Creator)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Creator</i>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.Date_Created)</label>
        <div class="col-sm-10">
            <i>@Model.myFAQ.Date_Created</i>
        </div>
    </div>

    <hr />

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.myFAQ.URL)</label>
        <div class="col-sm-10">
            <i><a href="@Model.myFAQ.URL">@Model.myFAQ.URL</a></i>
        </div>
    </div>

    <h5>If you like this Article, Please Press Thumbs up, it helps us a lot. Thank you</h5>
    <div class="row mb-3">
        <a class="btn btn-secondary col-sm-2" style="margin-left:20px;" href="/Education/List_Cust">Back</a>
        <a asp-page-handler="ClickTimeCount" asp-route-id="@Model.myFAQ.FAQId" asp-page="/Education/FAQDetail" class="col-sm-2" style="margin-left:20px;">
            <h5 id="clicks" style="text-align:center; margin-top:10px;">@Model.myFAQ.ClickTime<i id="thumbsUp" class="@thumbState"></i></h5>
        </a>

        <form class="mt-3" method="post">
            <input class="form-control" type="hidden" asp-for="myFAQ.FAQId" value="@Model.myFAQ.FAQId" oninput="this.value" />
            <input type="submit" value="Send Report" class="btn text-danger" />
        </form>

    </div>
    
    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        var clicks = parseInt(document.getElementById("clicks").innerHTML);
        console.log("Click = " + clicks);
        function clickTime() {
            clicks += 1;
            document.getElementById("clicks").innerHTML = clicks;
            //after click one time
            document.getElementById("thumbsUp").className = "fa-solid fa-thumbs-up";
            document.getElementById("clickTimeBtn").onclick = "afterClick()";
        };

        function afterClick() {
            alert("You can only click Thumbs Up one Time, thanks for your like. www")
        }
    </script>