@page
@model kampong_goods.Pages.Vouchers.VoucherCatalogueModel
@{
    Layout = "~/Pages/Shared/_ProfileNav.cshtml";
    ViewData["Title"] = "My Vouchers";
}
 
<h1 class="display-4">@ViewData["Title"]</h1>
@{
    @foreach (var item in Model.VoucherList)
    {
        <article class="card mb-4"> 
            <div class="card-body"> 
                <h5 class="card-title">@item.VoucherName</h5> 
                <p>Discount Amount: @item.VoucherDiscAmt</p> 
                <p>Minimum Spend: @item.VoucherMinSpend</p> 
                <p>Voucher Code: @item.VoucherCode </p> 
                <p>Expiring on:@item.VoucherExpDate.ToString("dd/MM/yyyy")</p>
            </div> 
        </article>
    }
}
