@page
@model kampong_goods.Pages.Products.productDetailsModel
@{
}

<style>
	.btn-buy {
		color: white;
		background: #3563E9;
	}

	.btn-chat {
		border-color: lightgray;
	}

	.btn-chat:hover {
		color: black;
		background: lightgray;
	}

	.lineColour {
		color: #FFC90B;
	}
</style>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
	<div class="container">
		<a href="/Products/productCatalogue" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Back to catalogue </a>
		<!-- ============================ ITEM DETAIL ======================== -->
		@{
				@foreach (var item in Model.ProductList)
			{
				<div class="row" style="padding-top: 20px;">
						<aside class="col-md-6">
							<div class="card">
								<article>
									<div class="img-big-wrap">
										<div><a href="#"><img src="@item.ImageURL" style="width: 668px; height:500px; border-radius:20px"></a></div>
									</div> <!-- slider-product.// -->
								</article> <!-- gallery-wrap .end// -->
							</div> <!-- card.// -->
						</aside>
						<main class="col-md-6">
							<article class="product-info-aside">

								<h2 class="title mt-3"><span class="lineColour" style="font-weight: bold;">-</span> @item.ProductName</h2>

								<div class="mb-3">
									<var class="price h4">$ @item.Price</var>
								</div> <!-- price-detail-wrap .// -->

								<p>
									<h6 style="font-weight: bold;">Description:</h6>
									@item.Description
								</p>




								<dl class="row">

									@foreach (var cust in Model.CustomerList) //use userid to get user name
								{
									if (item.UserId == cust.Id)
									{

											<dt class="col-sm-3">Seller:</dt>
											<dd class="col-sm-9">@cust.UserName</dd>

									}
								}

									@foreach (var cat in Model.CategoryList)
								{
										@if (item.CategoryId == cat.CategoryId)
									{
											<dt class="col-sm-3">Category:</dt>
											<dd class="col-sm-9">@cat.CategoryName</dd>
									}
								}

									@foreach (var con in Model.ConditionList)
								{
										@if (item.ConditionId == con.ConditionId)
									{
											<dt class="col-sm-3">Condition:</dt>
											<dd class="col-sm-9">@con.ConditionName</dd>
									}
								}





									<dt class="col-sm-3">Item status:</dt>
									<dd class="col-sm-9"><span class="badge badge-danger">@item.Status</span></dd>
								</dl>

								<div class="form-row  mt-4">
									<div class="form-group col-md">
										<a asp-page="/Products/productCheckout" asp-route-id="@item.ProductId" class="btn btn-buy">
											<i class="fas fa-shopping-cart"></i><span class="text">Buy Now</span>
										</a>
										<a href="#" class="btn btn-chat">
											<i class="fas fa-envelope"></i> <span class="text">Chat</span>
										</a>
									</div> <!-- col.// -->
								</div> <!-- row.// -->

							</article> <!-- product-info-aside .// -->
						</main> <!-- col.// -->
					</div> <!-- row.// -->
					<!-- ================ ITEM DETAIL END .// ================= -->
			}
		}

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->