@page
@model kampong_goods.Pages.Products.productDetailsModel
@{
	Layout = "~/Pages/Shared/_ProfileNav.cshtml";
	ViewData["Title"] = "Profile";
}

<div class="card-body">

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.ProductId):
		</label>
		<label>Product ID</label>
	</div>

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.ProductName):
		</label>
		<label>@Model.MyProduct.ProductName</label>
	</div>

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.CategoryId):
		</label>
		<label>@Model.MyProduct.Category?.CategoryName</label>
	</div>

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.Description):
		</label>
		<label>@Model.MyProduct.Description</label>
	</div>

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.ConditionId):
		</label>
		<label>@Model.MyProduct.Condition?.ConditionName</label>
	</div>

	<div>
		<label class="col-sm-2 col-form-label">
			@Html.DisplayNameFor(
			m => m.MyProduct.Price):
		</label>
		<label>@Model.MyProduct.Price.ToString("C")</label>
	</div>

	<div class="col-md-4">
		<div class="mb-3">
			<input type="file" accept="image/*" asp-for="Upload" class="form-
control" onchange="showImgPreview(this)" />
			<span asp-validation-for="Upload" class="text-danger"></span>
		</div>
		<img id="imgPreview" class="rounded-circle"
			 style="height:300px;width:300px;object-fit:cover"
			 src="@(string.IsNullOrEmpty(Model.MyProduct.ImageURL) ?
"/uploads/user.png" : Model.MyProduct.ImageURL)"
			 onerror="this.src='/uploads/user.png'" />
		<input class="form-control d-none" asp-for="MyProduct.ImageURL" />
	</div>

	<div class="mt-3">
		<a class="btn btn-secondary" href="/Products/productListing">Back</a>
	</div>

</div> <!-- card-body.// -->