@page
@model kampong_goods.Pages.Products.productOrderModel
@{
	Layout = "~/Pages/Shared/_ProfileNav.cshtml";
	ViewData["Title"] = "Profile";
}

@{
	@foreach (var item in Model.CheckoutList)
	{
		@foreach(var product in Model.ProductList)
		{
			@if(item.ProductId == product.ProductId)
			{
				<article class="card mb-4">
					<header class="card-header">
						<a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
						<strong class="d-inline-block mr-3">Buyer Order ID: @item.CheckoutId </strong>
						<span>Order Date: 16 December 2018</span>
					</header>
					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<h6 class="text-muted">Delivery to</h6>
								<p>
									@item.FName @item.LName <br>
									Phone +65 @item.Phone Email: @item.Email <br>
									Location: @item.Address
								</p>
							</div>
							<div class="col-md-4">
								<h6 class="text-muted">Payment</h6>
								<span class="text-success">
									<i class="fab fa-lg fa-cc-visa"></i>
									Visa  **** 4216
								</span>
								<p>
									Subtotal: $356 <br>
									Shipping fee:  $56 <br>
									<span class="b">Total:  $456 </span>
								</p>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td width="65">
										<img src="@product.ImageURL" class="img-xs border">
									</td>
									<td>
										<p class="title mb-0">@product.ProductName</p>
										<var class="price text-muted">$@product.Price</var>
									</td>
									<td width="250">
										<a href="#" class="btn btn-outline-primary">Mark As Complete</a>
									</td>
								</tr>
						</table>
					</div> <!-- table-responsive .end// -->
				</article> <!-- card order-item .// -->
			}
		}
	}
}