@page
@model kampong_goods.Pages.Requests.IAcceptModel
@using Microsoft.AspNetCore.Identity;
@using kampong_goods.Models;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{

}
 

@{
	if (SignInManager.IsSignedIn(User))
	{
		{
			<div class="container">
				<div class="subforum">
					<div class="subforum-title">
						<h1>
							Requests I Accepted  <a class="btn registerBtn" style="float:right" asp-area="" asp-page="/Requests/AddRequest" style="color: white;"><i class="fa-solid fa-plus"></i> Add Request</a>
							<a class="btn" style="float:right" asp-area="" asp-page="/Requests/MyRequests"><i class="fa-solid fa-user"></i> My Requests</a>
							<a class="btn" style="float:right" asp-area="" asp-page="/Requests/MyAccepted"><i class="fa-solid fa-check"></i>My Accepted Requests</a>
							<a class="btn" style="float:right" asp-area="" asp-page="/Requests/AllRequests"><i class="fa-sharp fa-solid fa-globe"></i> All Requests</a>

						</h1>

					</div>
				</div>
			</div>

		}
	}
	

}

	           
<div class="row">
	@{
		if (Model.RequestList!=null && Model.RequestList.Any())
		{

			@foreach (var item in Model.RequestList)
		{
							<div class="col-md-3">
								<figure class="card card-product-grid">

									<figcaption class="info-wrap">
										<h3>Title: @item.ReqTitle</h3>
										<div class="price-wrap">
											<span class="price">Budget: $@item.Budget</span>
										</div> <!-- price-wrap.// -->
										@foreach (var cat in AllRequestsModel.CategoryList) //use id catid get cat name
						{
							if (item.categoryId == cat.CategoryId)
							{
							//<p class="text-muted ">Requester: @cust.UserName</p>
												<p class="mb-3">
													<span class="tag"> @cat.CategoryName </span>
												</p>


							}
						}

										<hr>


										<p class="title mb-2">Description: @item.Description</p>


										<hr>

										@foreach (var cust in Model.CustList) //use userid to get user name
						{
							if (item.UserId == cust.Id)
							{
								//<p class="text-muted ">Requester: @cust.UserName</p>
												<p><b>Requested by</b> @cust.UserName </p>


						     }


						}
								<a asp-page-handler="UnAccept" asp-route-id="@item.ID" class="btn btn-outline-primary btn-block">  Unaccept </a>
						
									</figcaption>
								</figure>
							</div> 
		}
			}
				else
				{

							<h3 class="m-0 font-weight-bold" style="padding-left:20px ;">No Requests Accepted</h3>
				}
				}
	</div>





		